
body {
  width: 1000px;
  margin-left:auto;
  margin-right:auto;
  background-size: 10%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
  background:url(images/ain2.jpg);
  background-repeat:repeat;
  border:5px solid black;
}

li a {
    text-decoration: none;
    text-align: center;
    
    color: black;
}
li {
  float:left;
  
}
ul{
    background-color: #fff;
     margin-left:0;
     margin-right:0;
    overflow: hidden;
    display:inline-block;
    width:96%;
    border-collapse:collapse;
    
}
.nav{
    list-style: none;
    font-size: 1.3em;
}
#head {
  text-align:center;
  font-size:5em;
  border: 5px solid black;
}
.bold {
  font-weight:bold;
}
a:link {
    color: red;
}
a:active {
    color: red;
}
a:hover {
    color: red;
}
a:visited {
    color: red;
}
