body {
  width: 900px;
  margin-left:auto;
  margin-right:auto;
  background-size: 500%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
  background:url(images/bg.jpg);
}
