*{margin: 0;
padding: 0;


}
body {
  width: 1000px;
  margin-left:auto;
  margin-right:auto;
  background-size: 10%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
  background:url(images/ain2.jpg);
  background-repeat:repeat;
}

li a {
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    color: black;
}
li {
  float:left;
}
ul{
    background-color: #fff;
     margin: 0;
    padding: 0;
    overflow: hidden;
    display:inline;
    
}
.nav{
    list-style: none;
    font-size: 1.3em;
}
